{% extends 'szablon.html' %}
{% block tytul %} Django tablica{% endblock %}
{% block naglowek %}Lista postów{% endblock %}
{% block tresc %}
    <ul class="list-group">
    {% for post in posty %}
        <li class="list-group-item">
            <b>{{ post.tresc }}</b>
            <br>
            {{ post.uzytkownik.username }}
            <br>
            {{ post.data_dodania }}
            {% if user.is_staff %}
                <br>
                <a href="{% url 'tablica:post_usun' post.id %}">
                    <button class="btn btn-danger">Usuń</button>
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}